root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
trim_trailing_whitespace = true

[*.cs]
indent_size = 4
csharp_indent_braces = false
csharp_new_line_before_open_brace = all
csharp_preferred_modifier_order = public,private,protected,internal,static,extern,new,virtual,abstract,sealed,override,readonly,volatile,async:suggestion

[*.{ts,js,html,css,scss,json}]
indent_size = 2

[*.md]
trim_trailing_whitespace = false
